* {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.edicao {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.edicao_de_acao_cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.postar_acao_topo {
    margin-right: 1%;
    margin-bottom: 1%;
}

.titulo {
    font-weight: bold;
    width: 100%;
}

#descricao {
    width: 95%;
    padding: 2%;
}