*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-aside--menu_lateral{
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    background: #356394;
    width: 280px;
    gap: 30px;
}

.menu-aside--logo_menu_lateral{
    display: flex;
    width: 220px;
    height: 190px;
    background-color: white;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.menu-aside--imagem_logo{
    max-width: 100%;
    height: auto;
    display: block;
}

.menu-aside--opcao_menu_ativo{
    display: block;
    text-decoration: none;
    background-color: white;
    color: #09185E;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 70px;
    width: 250px;
    text-align: center;
    align-content: center;
    margin-left: auto;
    font-size: 1.25rem;
    font-weight: bold;
}

.menu-aside--opcao_menu_inativo{
    display: block;
    text-decoration: none;
    background-color: none;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 70px;
    width: 250px;
    text-align: center;
    align-content: center;
    margin-left: auto;
    font-size: 1.25rem;
    font-weight: bold;
}

.menu-aside--opcao_menu_inativo:hover{
    color: #B2B2B2;
}