* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Background {
    display: flex;
    background-image: url("../imagens/background-login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.Card {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    gap: 20px;
    padding: 5%;
}

.Logo {
    width: 25%;
    height: auto;
    align-self: center;
}

.TituloLogin {
    font-size: 30px;
    text-align: center;
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    color: #2C2B2B;
    margin-top: 5%;
}