* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Background {
    display: flex;
    background-image: url("../imagens/background-login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.Card {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    gap: 20px
}

.Logo {
    align-items: center;
    width: 25%;
    height: auto;
    align-self: center;
}

.TituloLogin {
    font-size: 50px;
    text-align: center;
}