.administrador-header--menu_superior{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 280px;
}

.administrador-header--dados_usuario{
    display: flex;
    justify-content: flex-start;
}