* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Background {
    display: flex;
    background-image: url("../imagens/background-login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
    background-color: white;
    border-radius: 7px;
    gap: 20px;
    padding: 4%;
    position: relative;
}

.Logo {
    width: 25%;
    height: auto;
    align-self: center;
    margin-bottom: 5%;
}

.TituloPin {
    font-size: 18px;
    text-align: center;
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    color: #2C2B2B;
    margin-top: 5%;
    margin-bottom: 1%;
}

.InputPin {
    height: 15%;
    width: 55%;
    margin: 2%;
    padding: 2%;
    color: #020202;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 0.5px;
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1%;
}

.botao-verificar-pin {
    background-color: #058914;
    border: none;
    height: 10%;
    width: 48%;
    margin: 0 auto;
    color: white;
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 5%;
}

.BotaoPIN:hover {
    background-color: #04620F;
    transition: 0.5s;
}

#botao-voltar-menu{
    background-color: white;
    border: none;
    position: relative;
    left: -52%;
    top: -10%;
}