*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.TelaPin{
    background-image: url("../imagens/background-login.png");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}