<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="../../../public/css/style.css">
    <link rel ="stylesheet" href="../../../public/css/header.css">
    <title>Menu Superior Pesquisador</title>
</head>
<body>
    <header>
        <div class="pesquisador-header--menu_superior">
            <div class="pesquisador-header--elementos_menu">
                <p class="pesquisador-header--texto pesquisador-header--dados_usuario" id="nome_usuario">Placeholder</p>
                <p class="pesquisador-header--texto pesquisador-header--dados_usuario">|</p>
                <p class="pesquisador-header--texto pesquisador-header--dados_usuario"> Pesquisador</p>
            </div>
            <button type="button" class="pesquisador-header--botao_logout pesquisador-header--texto">Logout</button>
        </div>
    </header>
</body>
</html>