<!-- PopUp Ação postada-->
<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../../../public/css/main.css">
      <title>Popup Ação Postada</title>
   </head>
   <body>
      <button id="abrir_id">Abrir Pop-up</button>

      <dialog id="pop_up_acao_postada_id">

         <div class="layout_div">

            <div class="circulo_confirmado"></div>

         </div class="layout_div">



         <div class="layout_div">

            <h1 class="texto_pop_up">Sua ação foi postada.</h1>

         </div class="layout_div">
        


         <div class="layout_div" >

            <p class="texto_pop_up">Sua ação foi enviada para os avaliadores.</p>

         </div class="layout_div">



         <div class="layout_div">

            <button id="fechar_id" class="texto_btn btn_postar">Fechar</button>

         </div class="layout_div">
      </dialog>






      <script src="../../../public/js/pop_up_acao_postada.js"></script>
   </body>
</html>