<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PopUp - Você já enviou uma ação hoje - Pesquisador</title>
</head>

<body>

    <button id="pesquisador-body--abrir_id">Abrir Pop-up</button>

    <dialog id="pesquisador-body--pop-up-ja-enviou-acao-hoje">

        <div class="pesquisador-body--layout-popup-circulo-de-aviso">

            <div class="pesquisador-body--circulo-de-aviso"> <img src="" class="pesquisador-popup--aviso"> </div>

        </div>

        <div class="pesquisador-body--layout_texto">

            <h1>Você já enviou uma ação hoje.</h1>
            <p>Tem certeza que deseja prosseguir?</p>

        </div>

        <div class="pesquisador-body--layout-botoes ">

            <button id="cancelar_id" class="pesquisador-body--texto-btn-cancelar">Cancelar</button>
            <button id="confirmar_id" class="pesquisador-body--texto-btn-confirmar">Confirmar</button>

        </div>

    </dialog>
    
</body>

</html>