<!-- PopUp Ação postada-->
<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../../../public/css/style.css">
      <link rel="stylesheet" href="../../../public/css/main.css">
      <title>Popup Ação Postada</title>
   </head>
   <body>
      <button id="abrir_id">Abrir Pop-up</button>

      <dialog id="pop_up_acao_postada_id">

         <div class="pesquisador-pop--layout-div-circulo pesquisador-pop--espaco-div">

            <div class="pesquisador-pop--circulo-confirmado "><img src="../../../public/imagens/marca-de-verificacao.png" class="pesquisador-pop--check"></div>

         </div>



         <div class="pesquisador-pop--layout_div pesquisador-pop--espaco-div">

            <h1 class="pesquisador-pop--texto-pop-up pesquisador-pop--tamanho-h1">Sua ação foi postada!</h1>
            <p class="pesquisador-pop--texto-pop-up pesquisador-pop--tamanho-p">Sua ação foi enviada para os avaliadores.</p>

         </div>



         <div class="pesquisador-pop--layout-div ">

            <button id="fechar_id" class="pesquisador-pop--texto-btn pesquisador-pop--btn-postar">Fechar</button>

         </div>

      </dialog>






      <script src="../../../public/js/pop_up_acao_postada.js"></script>
   </body>
</html>