<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../../public/css/style.css">
    <link rel="stylesheet" href="../../../public/css/body.css">

    <title>PopUp - Você já enviou uma ação hoje - Pesquisador</title>
</head>

<body>

    <button id="pesquisador-popup--abrir_id">Abrir Pop-up</button>

    <dialog id="pesquisador-popup--pop-up-enviou">

        <div class="pesquisador-popup--layout-popup-circulo-de-aviso">

            <div class="pesquisador-popup--circulo-de-aviso">
                <img src="../../../public/imagens/icone_aviso.png" class="pesquisador-popup--aviso">
            </div>

        </div>

        <div class="pesquisador-popup--layout_texto">

            <h1>Você já enviou uma ação hoje.</h1>
            <p>Tem certeza que deseja prosseguir?</p>

        </div>

        <div class="pesquisador-popup--layout-botoes">

            <button id="cancelar_id" class="pesquisador-popup--texto-btn-cancelar">
                Cancelar
            </button>

            <button id="confirmar_id" class="pesquisador-popup--texto-btn-confirmar">
                Confirmar
            </button>

        </div>

    </dialog>

    <script src="../../../public/js/pop_up_ja_enviou.js"></script>

</body>

</html>