<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas Ações - Pesquisador</title>
    <link rel="stylesheet" href="../../../public/css/main.css">
    <link rel="stylesheet" href="../../../public/css/style.css">
</head>
<body>
    <main>

        <div class="pesquisador--main-selecionar_ano">
        <select class="botao_seletor_ano">
          <option value="2026">2026</option>
        </select>
      </div>

        <div class="pesquisador--main-botoes_esquerda">
            <button class="botao-nova_acao">Nova Ação</button>
            <button class="botao-baixar-excel">Baixar em Excel</button>
        </div>

        <div class="pesquisador--main-botoes_direita">
          <input type="text" class="input-busca" placeholder="Pesquise...">
          <select class="seletor-filtrar">
            <option value="">Filtrar</option>
          </select>
        </div>
      </div>

    </main>
    
</body>
</html>