<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
</head>

<body>
    <main>

        <div class="administrador-main--caixa_resumo_rapido">
            <h1>Resumo Rápido</h1>

            <div class="administrador-main--caixa_maior_volume">
                <img src="" class="administrador-main--imagem_caixa_maior_volume">
                <h1>Maior Volume</h1><br>
                <p>Março/2026</p><br>
                <p>28 Ações</p>
            </div>

            <div class="administrador-main--caixa_menor_volume">
                <img src="" class="administrador-main--imagem_caixa_menor_volume">
                <h1>Menor Volume</h1><br>
                <p>Julho/2026</p><br>
                <p>12 Ações</p>
            </div>

            <div class="administrador-main--caixa_comparacao">
                <img src="" class="administrador-main--imagem_caixa_comparacao">
                <h1>Comparação</h1><br>
                <p>Aumento de <spam>12%</spam><br> em relação ao mês anterior</p>
            </div>

        </div>

    </main>
    
</body>

</html>