<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
</head>

<body>

    <div class="ConteinerPrincipalResumoRapido">
        <h1>Resumo Rápido</h1>

        <div class="CaixaMaiorVolume">
            <img src="" class="ImagemCaixaMaiorVolume">
            <h1>Maior Volume</h1><br>
            <p>Março/2026</p><br>
            <p>28 Ações</p>
        </div>

        <div class="CaixaMenorVolume">
            <img src="" class="ImagemCaixaMenorVolume">
            <h1>Menor Volume</h1><br>
            <p>Julho/2026</p><br>
            <p>12 Ações</p>
        </div>

        <div class="CaixaComparacao">
            <img src="" class="ImagemCaixaComparacao">
            <h1>Comparação</h1><br>
            <p>Aumento de <spam>12%</spam><br> em relação ao mês anterior</p>
        </div>

    </div>
    
</body>

</html>