<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="../../../public/css/style.css">
</head>
<body>
    <main class="Background">
        <div class="Card">
            <img class="Logo" src="../../../public/imagens/embrapa-logo-fundo-transparente.png" alt="Logo Embrapa">
            <h1 class="TituloPIN">Digite o PIN enviado para seu E-mail</h1>
            <p class="ParagrafoPIN">Por favor, preencha os campos com seus dados.</p>
            <input class="InputPIN" type="email" placeholder="Digite seu PIN.">

            <button class="BotaoPIN">ENTRAR</button>
        </div>
    </main>
</body>
</html>