<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="../../../public/css/style.css">
</head>
<body>
    <main class="Background">
        
        <div class="Card">
            <button id="botao-voltar-menu"><img src="../../../public/imagens/Icone_Voltar_Pagina.png" alt="Voltar para a tela de login"></button>
            <img class="Logo" src="../../../public/imagens/embrapa-logo-fundo-transparente.png" alt="Logo Embrapa">
            <h1 class="TituloPin">Digite o PIN enviado para seu E-mail</h1>
            <input class="InputPin" type="email" placeholder="Digite seu PIN.">

            <button class="botao-verificar-pin">VERIFICAR</button>
        </div>
    </main>
</body>
</html>