<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/style.css">
    <link rel="stylesheet" href="../../../public/css/aside.css">
    <link rel="stylesheet" href="../../../public/css/header.css">
    
    <title>Tela Principal - Dashboard - Administrador</title>
</head>
<body>
    <header>
        <div class="menu-header--menu_superior">
            <div class="menu-header--elementos_menu">
                <p class="menu-header--texto_bold menu-header--dados_usuario" id="nome_usuario">Placeholder</p>
                <p class="menu-header--texto menu-header--dados_usuario">|</p>
                <p class="menu-header--texto_bold menu-header--dados_usuario"> Administrador</p>
            </div>
            <button type="button" class="menu-header--botao_logout menu-header--texto">Logout</button>
        </div>
    </header>
    <aside>
        <nav class="menu-aside--menu_lateral">
            <div class="menu-aside--logo_menu_lateral">
            <img src="../../../public/imagens/embrapa-logo-fundo-transparente.png" class="menu-aside--imagem_logo" alt="Logo Embrapa">   <!--Logo da embrapa -->
            </div>

            <div class="menu-aside--opcoes-menu">
                <a href="#" class="menu-aside--opcao_menu_ativo"><img class="menu-aside--icone" src="#" alt="">Painel Principal</a>
                <a href="#" class="menu-aside--opcao_menu_inativo"><img class="menu-aside--icone" src="#" alt="">Painel Principal</a>
            </div>
        </nav>
    </aside>
</body>
</html>