<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="../../../public/css/placeholder.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <div>
                <p class="administrador-header--nome_usuario">Placeholder</p>
                <p>|</p>
                <p> Administrador</p>
            </div>
            <button type="button" class="administrador-header--botao_logout">Logout</button>
        </div>
    </header>
</body>
</html>