<!-- PopUp Ação postada-->
<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../../../public/css/main.css">
      <title>Popup Ação Postada</title>
   </head>
   <body>
      <button id="abrir_id">Abrir Pop-up</button>

      <dialog id="pop_up_acao_postada_id">
         <div>
         <img src="" class="">
         </div>

         <div>
         <h1 class="texto_pop_up">Sua ação foi postada.</h1>
         </div>
        
         <div >
         <p class="texto_pop_up">Sua ação foi enviada para os avaliadores.</p>
         </div>

         <div>
         <button id="fechar_id" class="texto_pop_up btn_postar">Fechar</button>
         </div>
      </dialog>






      <script src="../../../public/js/pop_up_acao_postada.js"></script>
   </body>
</html>