<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/main.css">
    <title>Administrador - EMBRAPA</title>
    <link ref="stylesheet" href="/public/css/main.css">
</head>
<body>
    <div class="administrador-tela-empregados">       
        <div class="administrador-tela-empregados--botoes">
            <h1 class="administrador-tela-empregados--titulo">Gestão de Empregados</h1>

            <div class="administrador-tela-empregados--botao">
                <button class="administrador-tela-empregados--botao-cadastrar">Cadastrar empregados</button>
            </div>
        </div>
        <table class="administrador-tela-empregados--tabela">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Área de ação</th>
                    <th>Status</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Fulano da Silva</td>
                    <td>silva@gmail.com</td>
                    <td>Pesquisador</td>
                    <td>Ativo</td>
                    <td><button>Desativar</button></td>
                </tr>
                <tr>
                    <td>Fulano da Silva</td>
                    <td>silva@gmail.com</td>
                    <td>Pesquisador</td>
                    <td>Ativo</td>
                    <td><button>Desativar</button></td>
                </tr>
                <tr>
                    <td>Fulano da Silva</td>
                    <td>silva@gmail.com</td>
                    <td>Pesquisador</td>
                    <td>Ativo</td>
                    <td><button>Desativar</button></td>
                </tr>
                <tr>
                    <td>Fulano da Silva</td>
                    <td>silva@gmail.com</td>
                    <td>Pesquisador</td>
                    <td>Ativo</td>
                    <td><button>Desativar</button></td>
                </tr>
                <tr>
                    <td>Fulano da Silva</td>
                    <td>silva@gmail.com</td>
                    <td>Pesquisador</td>
                    <td>Ativo</td>
                    <td><button>Desativar</button></td>
                </tr>
                <tr>
                    <td>Fulano da Silva</td>
                    <td>silva@gmail.com</td>
                    <td>Pesquisador</td>
                    <td>Ativo</td>
                    <td><button>Desativar</button></td>
                </tr>
            </tbody>
        </table>     
    </div>
</body>
</html>