<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="../../public/css/body.css">
</head>
<body>
    <main class="Background">
        <div class="Card">
            <img class="Logo" src="../../public/imagens/embrapa-logo-gado-de-corte-sem-fundo.png" alt="Logo Embrapa">
            <h1 class="TituloLogin">Bem-Vindo</h1>
            <p class="ParagrafoLogin">Por favor, preencha os campos com seus dados.</p>
            <input class="InputLogin" type="email" placeholder="Digite seu E-mail aqui.">
            <label class="FuncaoLogin" for="funcoes">Selecione sua função:</label>
            <select class="DropdownLogin" id="funcoes" name="funcoes">
                <option value="pesquisador">Pesquisador</option>
                <option value="comite">Comitê</option>
                <option value="validador">Validador</option>
                <option value="adm">Administrador</option>
            </select>
            <button class="BotaoLogin">ENTRAR</button>
        </div>
    </main>
</body>
</html>